<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>

      <li>
        <a routerLink="/home" routerLinkActive="active">

          <i class="fa fa-th"></i> <span>Reservation</span>
          <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
        </a>
        <router-outlet></router-outlet>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
