<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Room-Reservation -->
    <table class="table table-bordered">

      <thead>
      <tr>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Capacité</th>
        <th>Equipements</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input
            class="form-control"
            type="datetime-local"
            [(ngModel)]="reservation.beginDate"
            >
        </td>
        <td>
          <input
            class="form-control"
            type="datetime-local"
            [(ngModel)]="reservation.endDate"
            >

        </td>
        <input style="margin-top:7px;" type="number" class="form-control" placeholder="Enter ..." [(ngModel)]="capacite" [ngModelOptions]="{standalone: true}">
        <!-- MultiSelect  -->
        <td>
        <ng-multiselect-dropdown
          [placeholder]="'Enter Equipements'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="OnDeSelectAll($event)"
        >
        </ng-multiselect-dropdown>
        </td>
        <!-- /MultiSelect  -->
        <td>
          <button type="submit" class="btn btn-block btn-primary Flat .btn-flat " (click)="fillRooms();">Filtrer</button>
        </td>
      </tbody>

    </table>
    <!---------------------->

    <!-- ./col -->
    <div class="col-lg-3 col-xs-6"  *ngFor="let room of filtredRooms;">
      <!-- small box -->
      <div class="small-box bg-red">

        <div class="inner">

          <h2>{{ room.capacity}}</h2>
          <p>{{ room.name }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a class="small-box-footer" (click)="reservation.idRoom = room.id; createReservation();">
          Réserver <i class="fa fa-arrow-circle-right"></i>
        </a>

      </div>
    </div>
  </section>
</div>


